<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
    <!-- spring boot의 기본 logback base.xml은 그대로 가져간다. -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <include resource="logback-console-appender.xml" />
    <include resource="logback-out-appender.xml" />
    <include resource="logback-error-appender.xml" />
    <include resource="logback-json-appender.xml" />

    <!-- 운영 -->
    <springProfile name="prod">
        <logger name="console" level="INFO" >
            <appender-ref ref="console" />
        </logger>
        <logger name="out" level="INFO" >
            <appender-ref ref="out" />
        </logger>
        <logger name="error" level="ERROR" >
            <appender-ref ref="error" />
        </logger>
        <logger name="json" level="INFO" >
            <appender-ref ref="json" />
        </logger>
    </springProfile>

    <!-- 로컬, 테스트 -->
    <springProfile name="!prod">
        <logger name="console" level="TRACE" >
            <appender-ref ref="console" />
        </logger>
        <logger name="out" level="INFO" >
            <appender-ref ref="out" />
        </logger>
        <logger name="error" level="ERROR" >
            <appender-ref ref="error" />
        </logger>
        <logger name="json" level="INFO" >
            <appender-ref ref="json" />
        </logger>
    </springProfile>
</configuration>
